@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Layout = null; // Set layout to null. Layout css overriding table css
}
<style>
    /* Your table CSS styles */
    .pure-table {
        border-collapse: collapse;
        width: 100%;
        max-width: 800px; /* Example max-width */
        margin: 0 auto; /* Center the table */
    }

        .pure-table th,
        .pure-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .pure-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .pure-table tr:hover {
            background-color: #ddd;
        }

        .pure-table th {
            background-color: #f2f2f2;
            color: black;

        }
</style>
@model List<Movie>  
<table class="pure-table pure-table-bordered">
    <thead class="fw-bold">
        <tr>
            <td>Title</td>
            <td>Category</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>edited</td>
            <td>lentTo</td>
            <td>Copied To Plex</td>
        </tr>
    </thead>
    @foreach (var x in Model){
        <tbody>
            <tr>
                <td>@x.Title</td>
                <td>@x.Category?.CategoryName</td>
                <td>@x.Year</td>
                <a href="c:\users\mvill\source\repos\mission6_villar\mission6_villar\views\home\display.cshtml">c:\users\mvill\source\repos\mission6_villar\mission6_villar\views\home\display.cshtml</a>
                <td>@x.Director</td>    
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.CopiedToPlex</td>
                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieId="@x.MovieId" class="btn btn-info">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete2" asp-route-movieId="@x.MovieId" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    }
</table>